@use "card-photo";
@use "typographys";

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: rgb(241, 107, 5);
  font-family: typographys.$typography-main;
  font-size: 1.3rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 32rem;
  padding: 3rem;
}
